/*
	CSS Syntax
		selector{
			propertyA: valueA;
			propertyB: valueB;
		}
*/

/*
	* - universal selector; it selects all elements in the webpage
		font-family:  "Courier New", monospace;
			it tells the browser to use Courier New as its main fort for the content. however, if the browser is not able to display the font, it will search fonts that belong to the family of monospace
		font size - sets the size of the font of the element. pixels are not the sole measurement of font-size
*/			
*{
	font-family: "Courier New", monospace;
	font-size:  20px;
}

/*
	html selector - selects all the elements inside the html tags

	background-color - changes the background color of the element
*/	

html{
	scroll-behavior: smooth;
}

/*
body selector - select the elements inside the body tag
*/

body{
	background-color: skyblue;
}

nav{
	background-color: white;
}

/*
 selector:hover - changes the style of the element once the mouse is hovered over it.
*/
a:hover{
	background-color: #b4d6de;
}

/*
	> -  child selector; allows the selection of the child of the first selector/element
	display: inline-block; - it allows the display of the element from block to inline-block
	inline-block - the element acts as a block element but is inline with its sibling elements
	float - changes the horizontal alignment of the element and puts it on the specified position/side
			in this case the element is floated to the right side of the dic container
*/
nav>div{
	display: inline-block;
	float: right;
}

/*
body>section>forms>label {
	color: red;
}*/

/*TAG SELECTORS*/

h1{
	/*
		!important - overrides/disregards the ranking of priority and makes the property the main priority
		rem - root element measurement. html tag is the root element. def measurement for rem is 16 px.
	*/
	color: black !important;
	/*
		2rem = 2*16px
	*/
	font-size: 2rem;
	text-align: center;
}

section{
	/*
		height - changes the height of the element
			vh - viewport height; the height of the screen on the user.
			100vh - 100% on the viewport height of the users device	
	*/
	/*height: 100vh;*/
	text-align: center;
}

h2{
	font-size: 1.5rem;
}

ol{
	/*list-style-type - change sthe style oof the list element*/
	list-style-type: none;
}

/*
	ID SELECTIONS
	 #idName{
		property: value;
	 }
*/

#zuitt-motto{
/*letter-spacing - changes the space bet. the letters of the text element*/
	letter-spacing: 5px;
	font-size: 30px;
}

/*
	class selector - selects the elements with the same class name
	.className {
		property:  value;
	}
*/
.offered-items{
	/*text-transform: changes the case of the text element*/
	text-transform: uppercase;
}

/*
	attribute selector - selects elements with the same attribute
	tag[attribute]{
		property: value;
	}
*/

input[required]{
	/*
	border-width - changes the width of the element's border
	border-style - changes the style of the element's border
	border-color - changes the color of the element's border
	*/
	border-width: 2px;
	border-style: solid;
	border-color: navy;
}

/*
	adjacent sibling selector - selects the sibling element directly after the first element
		doesn't have to be the same type, id, class could be also be used
	height and width - changes the height and width of the element
	border-radius - rounds the corner of the element
*/
h3 + img{
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

/*
	descendant selectors
		firstselector descendant
			property: value;
*/

section li{
	color: #075966;
}

/*
	generic sibling selector - selects the sibling element that comes after the first selector.
		firstSelector ~ secondSelector
*/
h2~a{
	/* text-decoration - changes the decoration of the text element, other examples are overline, underline, line-through */
	text-decoration: none;
}

form{
	color: rgb(0,0,128);
	text-align: center;
	background-color: white;
	/*
		border - can be used to modify the border of the element
			border:  width style color;
	*/
	border: 2px solid black;
	/* vw - the measurement of the screen width of the user device. its default display is always on the left side of the screen */
	width: 25vw;
	/*
		position - allows changing the position of an element
			relative- moving the element relative to its position
	*/		
	position: relative;
	left: 37.25%;
}

button{
	color: white;
	background-color: #CF0053;
	border:0px;
	border-radius: 15px;
}