/*External Styling*/
h2{
	font-family: "Courier New", monospace;
	font-size:  18px;
	background-color: lightgreen;
}

/*Universal selector*/
*{
	font-family: "Courier New", monospace;
	font-size:  15px;
}

/*type selector*/
h1{
	font-size: 25px;
}

/*id selector*/
#capital{
	text-transform: uppercase;
	background-color: white;
}

/*class selector*/
.other{
	background-color: yellowgreen;
	border-width: none;
	border-style: none;
	border-color: none;	
}

/*attribute selector*/
li {
	border-width: 1.5px;
	border-style: solid;
	border-color: navy;	
}

/*adjacent selector*/
img + ul{
	list-style: none;
}

/*pang-remedyo*/
ul>li{
	font-size: 2rem;
	text-align: left;
	border-width: none;
	border-style: none;
	border-color: none;
}

/*descendant selector*/
section img{
	height: 150px;
	width: 150px;
	border-radius: 150px;
}

/*general sibling selector*/
h6~h5{
		text-align: center;	
}

/*child selector*/
